
<h1 class="mt-4">Cadastrar Cliente</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro' }}</li>
</ol>

<div class="container">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()" >
        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cliente salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>
        
        <div class="row" *ngIf="cliente.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [ngModel]="cliente.id" name="id" 
                    class="form-control" disabled="true" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro:</label>
                    <input type="text" class="form-control" name="dataCadastro"
                           [ngModel]="cliente.dataCadastro" disabled="true"  />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" placeholder="Digite seu nome"
                           [(ngModel)]="cliente.nome" name="nome" 
                           required #nome="ngModel"/>
                </div>   
                
                <div class="alert alert-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
                    <div *ngIf="nome.errors.required"> 
                        O Nome é obrigatório. 
                    </div>                
                </div>
            </div> 
            
            <div class="col-md-2">
                <label>Ativo: </label>
                <div class="form-group">                    
                    <label class="radio-inline">
                        <input type="radio" id="inlineRadio1" [(ngModel)]="cliente.ativo" 
                        name="ativo" value="1" checked/> Sim
                    </label>
                    
                    <label class="radio-inline">
                        <input type="radio" id="inlineRadio2" [(ngModel)]="cliente.ativo"
                        name="ativo" value="2"/> Não
                    </label>                    
                </div>
            </div>
            
            <div class="col-md-3">
                <label>Tipo de Pessoa:</label>
                <select class="form-control" [(ngModel)]="tipoPessoa" name="tipoPessoa">                              
                    <option [value]="1">PF</option>                        
                    <option [value]="2">PJ</option>
                </select>
            </div>
        </div> 
        <div class="row">
                   
        </div>         
            
        <div class="row" *ngIf="tipoPessoa == 1">
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" onkeypress="$(this).mask('000.000.000-00');"
                        [(ngModel)]="cliente.cpf" name="cpf" placeholder="Digite seu CPF"
                        minlength="11" required #cpf="ngModel" />
                </div> 

                <div class="alert alert-danger" *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
                    <div *ngIf="cpf.errors.required"> 
                        O CPF é obrigatório. 
                    </div>
                    <div *ngIf="cpf.errors.minlength"> 
                        O tamanho do CPF é de 11 números. 
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label>RG: </label>
                    <input type="text" class="form-control" placeholder="Digite seu RG" 
                    [(ngModel)]="cliente.rg" name="rg" required #rg="ngModel"/>                   
                </div>  
                
                <div class="alert alert-danger" *ngIf="rg.invalid && (rg.dirty || rg.touched)">
                    <div *ngIf="rg.errors.required"> 
                        O RG é obrigatório. 
                    </div>                    
                </div>
            </div>
        </div>

        <div class="row" *ngIf="tipoPessoa == 2">         
            <div class="col-md-6">
                <div class="form-group">
                    <label>CNPJ: *</label>
                    <input type="text" class="form-control" 
                    placeholder="Digite seu CNPJ" [(ngModel)]="cliente.cnpj" name="cnpj"
                    minlength="14" required #cnpj="ngModel"/>                    
                </div>  
                
                <div class="alert alert-danger" *ngIf="cnpj.invalid && (cnpj.dirty || cnpj.touched)">
                    <div *ngIf="cnpj.errors.required"> 
                        O CNPJ é obrigatóriO. 
                    </div>
                    <div *ngIf="cnpj.errors.minlength"> 
                        O tamanho do CNPJ é de 14 números. 
                    </div>
                </div>
            </div>  
            
            <div class="col-md-6">
                <div class="form-group">
                    <label>IE:</label>
                    <input type="text" class="form-control" placeholder="Digite seu IE"
                    [(ngModel)]="cliente.ie" name="ie" />                    
                </div>                
            </div>            
        </div>  

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
                    <i class="fa fa-save" ></i> Salvar
                </button>  
                <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
                    <i class="fa fa-sync-alt" ></i> Atualizar
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>               
            </div>                
        </div>
    </form>
</div>