<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <form #consultaForm="ngForm" (submit)="consultar()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                    {{ mensagemSucesso }}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                    {{ mensagemErro }}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <label for="inputNome">Nome Cliente:</label>
                <input type="text" [(ngModel)]="nome" 
                        name="nome" class="form-control"
                        id="inputNome">
            </div>

            <div class="col-md-6">
                <label for="inputAtivo">Ativo:</label>
                <select [(ngModel)]="ativo" class="form-control" name="ativo">
                    <option value="">Selecione...</option>
                    <option [value]="1">Sim</option>                        
                    <option [value]="2">Não</option>
                </select>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>

                <button class="btn btn-warning ml-1" (click)="novoCadastro()">
                    <i class="fa fa-plus"></i>Novo
                </button>
            </div>
        </div>        
    </form>

    <br/>

    <div class="row">
        <div class="alert alert-warning" role="alert" *ngIf="message">
            {{ message }}   
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-hover" >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data Cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>{{ cliente.dataCadastro }}</td>
                        <td>
                            <button class="btn btn-warning" 
                                    routerLink="/telefone-form/{{ cliente.id }}"> 
                                <i class="fa fa-plus"></i>
                            </button>

                            <button class="btn btn-primary ml" 
                                    routerLink="/clientes-form/{{ cliente.id }}"> 
                                <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-danger ml" 
                                    (click)="preparaDelecao(cliente)"
                                    data-toggle="modal" data-target="#modalDelecao"> 
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="clienteSelecionado">
                    Confirma a deleção do(a) cliente {{ clienteSelecionado.nome }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarCliente()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancela</button>
                </div>
            </div>
        </div>
    </div>
</div>