<h1 class="mt-4">Telefones</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <form #consultaForm="ngForm" (submit)="consultar()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                    {{ mensagemSucesso }}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                    {{ mensagemErro }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente:</label>
                    <select [(ngModel)]="id_cliente" class="form-control" name="id_cliente">
                        <option value="">Selecione...</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{ cliente.nome }}
                        </option>
                    </select>
                </div>
            </div>  
        </div>    

        <br />

        <div class="row">
            <div class="col-md-4">    
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>                
            </div>
        </div> 
    </form>

    <br/>

    <div class="row">
        <div class="alert alert-warning" role="alert" *ngIf="message">
            {{ message }}   
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-hover" >
                <thead>
                    <tr>
                        <th>Cliente</th>                        
                        <th>Número</th>                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let telefone of lista">    
                        <td>{{ telefone.cliente.nome }}</td>                                                
                        <td>{{ telefone.numero }}</td>                        
                        <td>                            
                            <button class="btn btn-danger ml" 
                                    (click)="preparaDelecao(telefone)"
                                    data-toggle="modal" data-target="#modalDelecao"> 
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="telefoneSelecionado">
                    Confirma a deleção do telefone {{ telefoneSelecionado.numero }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarTelefone()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancela</button>
                </div>
            </div>
        </div>
    </div>
</div>