<h1 class="mt-4">Cadastrar Telefone</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Novo</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Telefone salvo com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" 
                           [ngModel]="cliente.nome" name="nome" disabled="true"/>
                </div>
            </div>      
                              
            <div class="col-md-6">
                <div class="form-group">
                    <label>Número:</label>
                    <input class="form-control" 
                    [(ngModel)]=telefone.numero type="text" name="numero"
                    required #numero="ngModel" minlength="11">
                </div>

                <div class="alert alert-danger" *ngIf="numero.invalid && (numero.dirty || numero.touched)">
                    <div *ngIf="numero.errors.required"> 
                        O telefone é obrigatório. 
                    </div>

                    <div *ngIf="numero.errors.minlength"> 
                        O tamanho do telefone é 11 números.
                    </div>
                </div>   
            </div>                                         
        </div>             
    
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!telefone.id">
                    <i class="fa fa-save" ></i> Salvar
                </button>                
                <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>   
            </div>
        </div>
    </form>
</div>