<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Sistema</div>
                <a class="nav-link" routerLink="/home"
                    ><div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Home
                </a>
                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a class="nav-link collapsed" routerLink="/clientes-lista" 
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Clientes                    
                </a>  

                <div class="sb-sidenav-menu-heading">Consultas</div>
                <a class="nav-link collapsed" routerLink="/telefone-lista" 
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Telefones                    
                </a>                
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Desenvolvido por:</div>
            Angelina Corrêa Bonzi
        </div>
    </nav>
</div>